<div class="alboms d-flex justify-content-between flex-wrap">

  <div style="background-color:#EC1E32 " class="albom position-relative d-flex align-items-center justify-content-center">
    <span>Rock</span>
    <img src="../../assets/al.png" alt="jojo" >
  </div>

  <div style="background-color: #9BF1E1" class="albom position-relative d-flex align-items-center justify-content-center">
    <span>Electro</span>
    <img src="../../assets/al1.png" alt="jojo" >
  </div>

  <div style="background-color: #F59C23" class="albom position-relative d-flex align-items-center justify-content-center">
    <span>Hip-hop</span>
    <img src="../../assets/al2.png" alt="jojo" >
  </div>

  <div style="background-color: #C3F0C8" class="albom position-relative d-flex align-items-center justify-content-center">
    <span>Pop</span>
    <img src="../../assets/al3.png" alt="jojo" >
  </div>

  <div style="background-color: #F138A5" class="albom position-relative d-flex align-items-center justify-content-center">
    <span>R&B</span>
    <img src="../../assets/al4.png" alt="jojo" >
  </div>

  <div style="background-color: #4100F5" class="albom position-relative d-flex align-items-center justify-content-center">
    <span>Indie</span>
    <img src="../../assets/al5.png" alt="jojo" >
  </div>

</div>
